@model Application_Sondage.Models.Sondage

<div class="box">
    <h3>Vous trouverez ci-dessous les résultats du sondage.</h3><br />
    <b><u>@Model.Question:</u></b>

    @foreach (var choix in Model.ListeDeChoix)
    {
        <br />
        <p>@choix.ValeurChoix<br /><progress id="avancement" value="@Model.PourcentageDeVote(choix.NombreVotes)" max="100"></progress>@Model.PourcentageDeVote(choix.NombreVotes)%<br />@choix.NombreVotes vote(s)</p>
    }

    <br />
    <h3>Nombre de votant(s): <b>@Model.NombreVoteTotal</b></h3>
</div>

