@model Application_Sondage.Models.Sondage

<div class="box">
    <h2>@Model.Question</h2>
    <form method="post" action="@Url.Action("ConfirmeVote", "Home")">
        <input type="hidden" name="id" value="@Model.Id" />
        <ul>
            @{
                foreach (var choix in Model.ListeDeChoix)
                {
                    <li>
                        @{if (Model.ChoixMultiple)
                            {
                                <input id="@choix.IdChoix" name="multiplechoise" value="@choix.ValeurChoix" type="checkbox">
                            }
                            else
                            {
                                <input id="@choix.IdChoix" name="multiplechoise" value="@choix.ValeurChoix" type="radio">
                            }
                            <label for="1">@choix.ValeurChoix</label>
                        }
                    </li>
                }
            }
        </ul>
        <center><input class="bt_link" type="submit" value="Voter" /></center>
              <h5><b>*Nombre de votant(s) : @Model.NombreVoteTotal</b></h5>

    </form>
</div>

