@model Application_Sondage.Models.Sondage

<div class="box">
    <h2>@Model.Question</h2>
    <form method="post" action="@Url.Action("ConfirmeVote", "Home")">
        <ul>
            @{
                foreach (var choix in Model.ListeDeChoix)
                {
                    <li>
                        @{if (Model.ChoixMultiple)
                            {
                                <input id="@choix.IdChoix" name="multiplchoise" value="@choix.ValeurChoix" type="checkbox">
                            }
                            else
                            {
                                <input id="@choix.IdChoix" name="singleChoiceId" value="@choix.ValeurChoix" type="radio">
                            }
                            <label for="1">@choix.ValeurChoix</label>
                        }
                    </li>
                }
            }
        </ul>
        <input class="bt_link" type="submit" value="Voter" />
    </form>
</div>

